<a href="https://colab.research.google.com/github/rasaghnak/daily_practise/blob/main/Python_daily.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Day 1 - python basics

In [ ]:
# write to check if a number is prime

class PrimeChecker:
    def is_prime(self, num):
        """
        Checks if a given number is prime.

        Args:
            num: The number to check.

        Returns:
            True if the number is prime, False otherwise.
        """
        if num <= 1:
            return False
        for i in range(2, int(num**0.5) + 1):
            if num % i == 0:
                return False
        return True

# Example usage:
checker = PrimeChecker()
number_to_check = 17

if checker.is_prime(number_to_check):
    print(f"{number_to_check} is a prime number.")
else:
    print(f"{number_to_check} is not a prime number.")

17 is a prime number.

In [ ]:
# fibonacci series sequence upto 100
def fib(lst,num):
  for i in range(num):
    if lst[-1]+lst[-2]<0:
      return "not fib"
    else:
      lst.append(lst[-1]+lst[-2])
  return lst

val = fib([0,1],100)
print(val)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101]

In [ ]:
# Reverse a string without using slicing.
def rev_str(value):
  empty_string = ""
  for char in value:
    empty_string = char + empty_string
  return empty_string

print(rev_str("hello"))

olleh

In [ ]:
#Find the largest of three numbers.
def mx_val(lst):
  val = max(lst)
  print(val)

mx_val([1,2,3])

3

In [ ]:
# Check if a year is a leap year.
def is_leap(year):
  if year%4==0 and year%100!=0 or year%400==0:
    print("leap year")
  else:
    print("not leap year")

is_leap(2000)

leap year

In [1]:
#Count vowels and consonants in a string.
vows = "aeiouAEIOU"
def count_v_c(value):
  vowels =0
  const = 0
  for char in value:
    if char in vows:
      vowels+=1
    else:
      const+=1
  print(f"vowels are {vowels} and consonants are {const}")

count_v_c("hello")

vowels are 2 and consonants are 3

In [3]:
#Print multiplication table of 7.
def mul_val(num):
  for i in range(1,11):
    print(f"{num}*{i}={num*i}")
mul_val(7)

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [3]:
#Sum of even numbers from 1â€“100.
def evn_sum(num):
  sum_hun=0
  for i in range(1,num+1):
    if i%2==0:
      sum_hun+=i
  print(sum_hun)
evn_sum(100)

2550

In [4]:
#Create a simple calculator.
def operation(a,b,operation):
  lst=[1,2,3,4]
  if operation==1:
    print(a+b)
  elif operation==2:
    print(a-b)
  elif operation==3:
    print(a*b)
  elif operation==4:
    print(a/b)
  else:
    print("invalid operation")

operation(1,2,1)

3

In [7]:
#find factorial using loops
def fact(num):
  val=1
  if num==0:
    return 1
  for i in range(1,num):
    val*=i
  return val
result = fact(5)
print(result)

24

In [7]:
#Count word frequency in a paragraph
# sent = "I have a car I drive in car to school everyday, My car is in pink color"
# def word_freq(sent):
#   words = sent.split()
#   freq={}
#   for word in words:
#     if word in freq:
#       freq[word]+=1
#     else:
#       freq[word]=1
#   return freq
# result = word_freq(sent)
# print(result)
# method 2
sent = "I have a car I drive in car to school everyday, My car is in pink color"
from collections import Counter
import re

def word_freq(sent):
  words = re.findall(r'\w+', sent)
  freq = Counter(words)
  return freq
result = word_freq(sent)
print(result)

Counter({'car': 3, 'I': 2, 'in': 2, 'have': 1, 'a': 1, 'drive': 1, 'to': 1, 'school': 1, 'everyday': 1, 'My': 1, 'is': 1, 'pink': 1, 'color': 1})